@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-default-white: var(--default-white);
  --color-default-black: var(--default-black);
  --color-default-dark-bg: var(--default-dark-bg);
  --color-default-dark-content: var(--default-dark-content);
  --color-default-text: var(--default-text);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-dark-50: var(--neutral-dark-50);
  --color-neutral-dark-100: var(--neutral-dark-100);
  --color-neutral-dark-200: var(--neutral-dark-200);
  --color-neutral-dark-300: var(--neutral-dark-300);
  --color-neutral-dark-400: var(--neutral-dark-400);
  --color-neutral-dark-500: var(--neutral-dark-500);
  --color-neutral-dark-600: var(--neutral-dark-600);
  --color-neutral-dark-700: var(--neutral-dark-700);
  --color-neutral-dark-800: var(--neutral-dark-800);
  --color-neutral-dark-900: var(--neutral-dark-900);
  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-danger-50: var(--danger-50);
  --color-danger-100: var(--danger-100);
  --color-danger-200: var(--danger-200);
  --color-danger-300: var(--danger-300);
  --color-danger-400: var(--danger-400);
  --color-danger-500: var(--danger-500);
  --color-danger-600: var(--danger-600);
  --color-danger-700: var(--danger-700);
  --color-danger-800: var(--danger-800);
  --color-danger-900: var(--danger-900);
  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --default-white: #fffffa;
  --default-black: #000000;
  --default-dark-bg: #212121;
  --default-dark-content: #2e2e2e;
  --default-text: #191308;
  --primary-50: #e9ecf7;
  --primary-100: #b9c4e6;
  --primary-200: #98a7da;
  --primary-300: #687fc9;
  --primary-400: #4b66bf;
  --primary-500: #1e40af;
  --primary-600: #1b3a9f;
  --primary-700: #152d7c;
  --primary-800: #112360;
  --primary-900: #0d1b4a;
  --secondary-50: #e9f2f2;
  --secondary-100: #bbd6d6;
  --secondary-200: #9ac2c2;
  --secondary-300: #6ca7a7;
  --secondary-400: #509595;
  --secondary-500: #247b7b;
  --secondary-600: #217070;
  --secondary-700: #1a5757;
  --secondary-800: #144444;
  --secondary-900: #0f3434;
  --neutral-50: #f4f4f4;
  --neutral-100: #dddddd;
  --neutral-200: #cccccc;
  --neutral-300: #b5b5b5;
  --neutral-400: #a6a6a6;
  --neutral-500: #909090;
  --neutral-600: #838383;
  --neutral-700: #666666;
  --neutral-800: #4f4f4f;
  --neutral-900: #3c3c3c;
  --neutral-dark-50: #e9e9eb;
  --neutral-dark-100: #babac2;
  --neutral-dark-200: #9999a4;
  --neutral-dark-300: #6a6a7a;
  --neutral-dark-400: #4d4d61;
  --neutral-dark-500: #212139;
  --neutral-dark-600: #1e1e34;
  --neutral-dark-700: #171728;
  --neutral-dark-800: #12121f;
  --neutral-dark-900: #0e0e18;
  --success-50: #e6fde6;
  --success-100: #b1f7b0;
  --success-200: #8cf48a;
  --success-300: #57ee54;
  --success-400: #36ff33;
  --success-500: #04e600;
  --success-600: #04d100;
  --success-700: #03a300;
  --success-800: #027f00;
  --success-900: #026100;
  --danger-50: #ffe9e7;
  --danger-100: #ffbab4;
  --danger-200: #ff998f;
  --danger-300: #ff6b5c;
  --danger-400: #ff4e3d;
  --danger-500: #ff220c;
  --danger-600: #e81f0b;
  --danger-700: #b51808;
  --danger-800: #8c1207;
  --danger-900: #6b0e05;
  --warning-50: #fdf7ea;
  --warning-100: #fae5bc;
  --warning-200: #f8d99c;
  --warning-300: #f4c76f;
  --warning-400: #f2bd53;
  --warning-500: #f0ac28;
  --warning-600: #d99d24;
  --warning-700: #aa7a1c;
  --warning-800: #835f16;
  --warning-900: #644811;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --default-white: #212121;
  --default-black: #fffffa;
  --default-dark-bg: #212121;
  --default-dark-content: #2e2e2e;
  --default-text: #fffffa;
  --primary-50: #0d1b4a;
  --primary-100: #112360;
  --primary-200: #152d7c;
  --primary-300: #1b3a9f;
  --primary-400: #1e40af;
  --primary-500: #4b66bf;
  --primary-600: #687fc9;
  --primary-700: #98a7da;
  --primary-800: #b9c4e6;
  --primary-900: #e9ecf7;
  --secondary-50: #0f3434;
  --secondary-100: #144444;
  --secondary-200: #1a5757;
  --secondary-300: #217070;
  --secondary-400: #247b7b;
  --secondary-500: #509595;
  --secondary-600: #6ca7a7;
  --secondary-700: #9ac2c2;
  --secondary-800: #bbd6d6;
  --secondary-900: #e9f2f2;
  --neutral-50: #3c3c3c;
  --neutral-100: #4f4f4f;
  --neutral-200: #666666;
  --neutral-300: #838383;
  --neutral-400: #909090;
  --neutral-500: #a6a6a6;
  --neutral-600: #b5b5b5;
  --neutral-700: #cccccc;
  --neutral-800: #dddddd;
  --neutral-900: #f4f4f4;
  --neutral-dark-50: #e9e9eb;
  --neutral-dark-100: #babac2;
  --neutral-dark-200: #9999a4;
  --neutral-dark-300: #6a6a7a;
  --neutral-dark-400: #4d4d61;
  --neutral-dark-500: #212139;
  --neutral-dark-600: #1e1e34;
  --neutral-dark-700: #171728;
  --neutral-dark-800: #12121f;
  --neutral-dark-900: #0e0e18;
  --success-50: #026100;
  --success-100: #027f00;
  --success-200: #03a300;
  --success-300: #04d100;
  --success-400: #04e600;
  --success-500: #36ff33;
  --success-600: #57ee54;
  --success-700: #8cf48a;
  --success-800: #b1f7b0;
  --success-900: #e6fde6;
  --danger-50: #6b0e05;
  --danger-100: #8c1207;
  --danger-200: #b51808;
  --danger-300: #e81f0b;
  --danger-400: #ff220c;
  --danger-500: #ff4e3d;
  --danger-600: #ff6b5c;
  --danger-700: #ff998f;
  --danger-800: #ffbab4;
  --danger-900: #ffe9e7;
  --warning-50: #644811;
  --warning-100: #835f16;
  --warning-200: #aa7a1c;
  --warning-300: #d99d24;
  --warning-400: #f0ac28;
  --warning-500: #f2bd53;
  --warning-600: #f4c76f;
  --warning-700: #f8d99c;
  --warning-800: #fae5bc;
  --warning-900: #fdf7ea;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
